.body {
    padding: 0;
    background-color: coral;
    display: flex;
    flex-direction: column;
  }
  section {
    background-color: rgb(252, 252, 252);
    margin: top;
    display: flexbox;
    font-family: "Roboto", sans-serif;;
  }
 